
2WEEK/.vs/2WEEK/v16/.suo
2WEEK/.vs/2WEEK/v16/Browse.VC.db
2WEEK/.vs/ProjectSettings.json
2WEEK/.vs/slnx.sqlite
2WEEK/.vs/VSWorkspaceState.json
2WEEK/server_project/.vs/server_project/v16/.suo
2WEEK/server_project/.vs/server_project/v16/Browse.VC.db
2WEEK/server_project/.vs/server_project/v16/ipch/AutoPCH/767b4961580c27de/ADMININFO.ipch
2WEEK/server_project/.vs/server_project/v16/ipch/AutoPCH/84ae77d170e9a778/ADMINMODE.ipch
2WEEK/server_project/.vs/server_project/v16/ipch/AutoPCH/b947b3f5b9fcf342/USERMODE.ipch
2WEEK/server_project/.vs/server_project/v16/ipch/AutoPCH/d5e337cf9c50586d/SERVER.ipch
2WEEK/server_project/.vs/server_project/v16/.suo
2WEEK/server_project/.vs/server_project/v16/Browse.VC.db
2WEEK/server_project/.vs/server_project/v16/.suo
2WEEK/server_project/.vs/server_project/v16/Browse.VC.db
2WEEK/server_project/server_project/Server.cpp
2WEEK/server_project/.vs/server_project/v16/Browse.VC.opendb
2WEEK/server_project/.vs/server_project/v16/Browse.VC.db-wal
2WEEK/server_project/.vs/server_project/v16/Browse.VC.db-shm
2WEEK/server_project/.vs/server_project/v16/Browse.VC.db
*.db
